$nav-color: #5A5A5A;
$nav-1-color: #FF7320;
$nav-2-color: #96BB5D;
$nav-3-color: #00939A;
$font-weight-first-three: 700;
$font-size:18px;

#primary-menu > ul > li {
  a {
    color:$nav-color;
    font-weight:700;
    font-size:16px;
    @media (max-width:1200px) {
      font-size:16px;
      padding-left:10px;
      padding-right:10px;
    }
  }
  .nav-1 {
    color:$nav-1-color;
  }
  .nav-2 {
    color:$nav-2-color;
  }
  .nav-3 {
    color:$nav-3-color;
  }
  .nav-1, .nav-2, .nav-3 {
    font-weight:$font-weight-first-three;
  }
}

#header.full-header #logo {
  margin-right:15px;
  padding-right:0;
}

#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
  height:100px;
}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  padding-top:38px;
  padding-bottom:38px;
}
#primary-menu-trigger {
  font-size:25px;
}
#logo img {
  padding:2.5px 0;
}