#services-block {
  padding:40px 0;
  background: #5D7278;
  h2 {
    font-family: $roboto-condensed;
    font-weight:300;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
  }
  p {
    font-family: $open-sans;
    font-size: 18px;
    color: #FFFFFF;
    line-height:23px;
    a {
      color:#80EEF6;
      text-decoration:underline;
    }
  }
}
.services-section {
  padding:60px 0;
  min-height:700px;
  @media (max-width:1200px) {
    background:none;
    min-height:initial;
  }
  h2 {
    font-family: $roboto-condensed;
    margin-top:200px;
    font-weight:300;
    font-size: 48px;
    color: #024378;
    letter-spacing: 0;
    line-height: 55px;
    @media (max-width:1200px) {
      margin-top:0;
    }
  }
  p {
    font-family: $open-sans;
    font-size: 18px;
    color: #4E4E4E;
    line-height: 28px;
  }
}

#sedation-dentistry {
  background:url('../images/services/oral-sedation.jpg');
  background-size:cover;
  @media (max-width:1200px) {
    background:none;
  }

}
.services-below {
  img {
    width:100%;
  }
}

#implant-dentistry {
  background:url('../images/services/implants.jpg');
  background-size:cover;
  min-height:800px;
  background-position:50% 100%;

  @media (max-width:1200px) {
    background:none;
    min-height:initial;
  }
}

#more-services {
  padding:50px 0;

  background-image: linear-gradient(0deg, #889A9A 31%, #FFFFFF 100%);
  h2 {
    /* More Services: */
    font-family: $roboto-condensed;
    font-weight:300;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom:0;
    letter-spacing: 3.5px;
    @media (max-width:480px) {
      font-size:42px;
    }
  }
  h6 {
    margin-bottom:40px;
    @media (max-width:480px) {
      font-size:18px;
    }
  }
  .owl-prev, .owl-next {
    opacity:1 !important;
    color:#FFF;
    background:#00939A;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    top:40%;
  }
  .owl-prev {
    left:-18px;
  }
  .owl-next {
    right:-18px;
  }
  img {
    border-radius:16px;
    border:2px solid #FFF;
  }
  h4 {
    /* Family Care: */
    font-family: $roboto-condensed;
    font-weight:400;
    margin-top:15px;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
}