#smile-gallery {
  background: rgba(133,176,75,0.13);
  padding:50px 0;
  h2 {
    /* Smile Gallery: */
    font-family: $roboto-condensed;
    font-weight:300;
    font-size: 48px;
    color: #024378;
    letter-spacing: 3.5px;
    @media (max-width:480px) {
      font-size:42px;
    }
  }
  .col-2 {
    display:flex;
    margin-top:15px;
    flex-wrap:nowrap;
    justify-content:space-between;
    @media (max-width:1200px) {
      justify-content:center;
    }
    @media (max-width:767px) {
      flex-wrap:wrap;
    }

    .img-wrap p {
      margin-left:10px;
      font-family: $open-sans;
      font-weight:400;
      font-size: 20px;
      color: #6E6E6D;
      letter-spacing: -0.5px;
      @media (max-width:1200px) {
        margin-left:40px;
      }
      @media (max-width:767px) {
        text-align:center;
        margin-left:0;
      }
    }
  }
  @media (max-width:480px) {
    .button {
      max-width:275px;
      text-align:center;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
}





#logos {
  padding: 30px 0;
  background-image: radial-gradient(50% 37%, #f5f7f7 50%, #d2d8d8 100%);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  h6 {
    text-align: center;
    /* Pay Your Bill:: */
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 24px;
    color: #5D7278;
    letter-spacing: 0;
  }
  label {
    font-family: $roboto-condensed;
    text-transform:none;
    font-weight:400;
    font-size:20px;
    letter-spacing:0;
    margin-right:10px;
  }
  form {
    margin-bottom:5px;
  }
  input {
    padding: 5px 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    font-family: $roboto-condensed;
    border-radius:8px;
  }
  .single-wrap {
    width:100%;
    text-align:center;
  }
  input:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
  .button-2 {
    background: #85B04B;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 3px 14px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #789F44;
    }
  }
  .logo-wrap {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }
  .input-wrap {
    width:100%;
    text-align:center;
    margin-bottom:10px;
  }
  .logo-1 {
    margin-bottom:20px;
  }
  .col-2 {
    h6 {
      @media (max-width:1200px) {
        margin-top:20px;
      }
    }
  }
  .input-wrap {
    width:100%;
  }
  .btn-wrap {
    width:100%;
    text-align:center;
    .button-2 {
      margin:0 auto;
    }
  }
}