#watch-video {
  background: url('../images/video-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 2px solid #FFF;
  .col-sm-12 {
    padding:50px 20px;
    @media (max-width:767px) {
      padding:25px 0px;
    }
  }
}

