#watch-video {
  background:url('../images/video-bg.jpg');
  background-size:cover;
  background-attachment:fixed;
  height:800px;
  border-bottom:2px solid #FFF;
  .center {
    top:44%;
    position:relative;

    p {
      color:#FFF;
      font-weight:700;
      font-size: 40px;
      letter-spacing: -0.5px;
    }

  }
  @media (max-width:1200px) {
    background-position:50% 50%;
  }
  @media (max-width:900px) {
    height:600px;
    .center {
      top:40%;
      p {
        font-size:34px;
        margin-bottom:10px;
      }
    }
  }
  @media (max-width:600px) {
    height:380px;
    background-position:60% 60%;
    .center {
      p {
        font-size:24px;
        margin-bottom:5px;
      }
      img {
        width:15%;
      }
      top:35%;
    }
  }
  img {
    padding:30px;
  }
  .img-wrap {
    border:2px solid #FFF;
    border-radius:9999px;
    width:125px;
    height:125px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    margin-top:-20px;
    @media (max-width:767px) {
      margin-top:0;
    }
  }
}

#watch-video .center img {
  @media (max-width:600px) {
    width:90% !important;
  }
}